<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jaime.inventoryprovider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.jaime.inventoryprovider.InventoryApplication">
        <activity android:name="com.example.jaime.inventoryprovider.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.jaime.inventoryprovider.ui.login.LoginViewImpl"
            android:theme="@style/LoginTheme" />
        <activity android:name="com.example.jaime.inventoryprovider.ui.inventory.InventoryActivity" />
        <activity
            android:name="com.example.jaime.inventoryprovider.DashBoardActivity"
            android:theme="@style/ActionBarTheme" />
        <activity android:name="com.example.jaime.inventoryprovider.ui.product.ProductActivity" />
        <activity android:name="com.example.jaime.inventoryprovider.ui.dependency.DependencyActivity"/>
        <activity android:name="com.example.jaime.inventoryprovider.ui.sector.SectorActivity" />
        <activity android:name="com.example.jaime.inventoryprovider.ui.prefs.AccountSettingActivity" />
        <activity android:name="com.example.jaime.inventoryprovider.ui.prefs.GeneralSettingActivity" />
        <activity android:name="com.example.jaime.inventoryprovider.ui.about.AboutUsActivity" />
    </application>

</manifest>